.navbar{
    width: 100%;
    padding: 0vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26282A;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    }

.nav_logo img{
    width: 5vw;
  
}

.online_offline_con{
    display: flex;
    align-items: center;
    width: 10vw;
    height: 9vh;
    padding: 3px 5px;
    border-radius: 5vh;
    cursor: pointer;
    border: 2px solid grey;
}
.toggle_btn {
    height: 7.5vh;
    width: 3.5vw;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    transition: all 0.8s ease;
    
}

.online {
    background-color: green;
    color: white;
    transform: translateX(160%);
}

.offline {
    background-color: rgb(186, 54, 54);
    color: white;
    transform: translateX(0);
}

@media (max-width:600px) {
    .nav_logo{
        display: none;
    }

    .navbar{
        justify-content: center;
    }

    .online_offline_con{
        display: flex;
        align-items: center;
        width: 30vw;
        height: 9vh;
        padding: 3px 5px;
        border-radius: 5vh;
        cursor: pointer;
        border: 2px solid grey;
    }
}