.otp_verify_main_con{
    margin-top: 14vh;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}
.form{
    width: 30%;
    border-radius: 5vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form_inner{
    border-radius: 5vh;
    padding: 5vh;
    background-color: white;
    width: 100%;
}
.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fingerprint_icon{
    font-size: 40px;
    font-weight: bold;
}
.heading{
    font-size:4vh;
    font-weight: bold;
    margin-top: 5vh;
}
.sub_heading{
    color: gray;
    margin-top: 1vh;

}
.lower{
    display: flex;
    flex-direction: column;
    gap: 3;
    margin-top: 7vh;
}
.otp_label{
    font-size: 2.5vh;
}
.otp_input_con{
    display: flex;
    flex-wrap: nowrap;
    gap: 1vh;
    flex-shrink: 0;
}
.otp_input{
    width: 60px;
    height:40px ;
    border: 2px solid grey;
    border-radius: 2vh;
    outline: none;
    text-align: center;

    &:focus{
        border: 2px solid #60A5FA ;
    }
    &:hover{
        border: 2px solid #60a5faa2 ;

    }

}
.verify_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}
.button{    
    margin-top: 3vh;
}