* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  /* border: 2px solid red; */
}

.signUp_container {
  width:100vw;
  /* background-color: #9d4edd; */
  display: flex;
}



.inner{
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10vh;
  align-items: center;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.heading_signup {
  font-family: "Times New Roman", Times, serif;
  font-size: 2vh;
  border-bottom: 2px solid black;
  border-radius: 2vh;
}
.input_details {
  width: 90%;
  margin-top: 2vh;
  background-color: white;
  /* border: 2px solid blue; */
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3vh;

  & label {
    font-size: 2.5vh;
    font-weight: 600;
  }
  & span {
    font-size: 2vh;
    color: red;
  }
}
.food_select_container{
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
.common_food_select{
  border-radius: 2vh;
  padding: 1vh 1vh;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  h3{
    color: tomato;
  }
}



.signup_btn {
  width: 100%;
  height: 6vh;
  text-align: center;
}
.submit_button {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 1vh 2vw;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3vh;
  cursor: pointer;
  font-size: 3vh;

  &:hover {
    background-color: grey;
    color: black;
    border: 2px solid black;
  }
}

.haveAccount {
  text-align: center;
  padding: 2vh 2vw;

  & span {
    color: blue;
  }
}
