.sidebar {
    width: 18vw;
    height: 100vh;
    background-color: #26282A; 
    transition: width 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2vh 1vw;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}

.mini_sidebar {
    width: 5vw;
    height: 100vh;
    background-color: #26282A;
    overflow: hidden;
    transition: width 0.5s linear;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}

.menu_icon {
    color: #ffffff;
    font-size: 2rem;
    text-align: end;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: color 0.3s ease;
}
.normal_icon{
    &:hover{
        color: #00BFA6;
    }
}

.cross:hover{
    color:red;

}

.sidebar_options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5vh;

}

.open_sidebar_option {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
}

.open_sidebar_option:hover {
    background-color: #00BFA6; 
    color: #1E2A38; 
}

.close_sidebar_option {
    display: flex;
    justify-content: center;
    padding: 0.7rem;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 50%;
}

.close_sidebar_option:hover {
    background-color: #00BFA6;
    color: #1E2A38;
}

.icon {
    font-size: 1.8rem;
}

.admin_active {
    background-color: #00BFA6; 
    color: #1E2A38;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}


/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 15vw;
    }

    .mini_sidebar {
        width: 4vw;
    }

    .icon {
        font-size: 1.5rem;
    }

    .menu_icon {
        font-size: 1.5rem;
    }
}

@media (max-width:600px) {
    .mini_sidebar {
        width: 15vw;
        
    }
    .sidebar {
        width: 40vw;
        height: 100vh;
       
    }
    
}