
.main_container{    
    /* background-color:  #E0E0E0; */
    margin: 20vh 5vh;
    padding: 5vh 10vh;
    border-radius: 5vh;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.main_container h1{
    text-align: center;
    color: black;
}
.orders_container{
    /* border: 2px solid red;   */
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh 10vh;

}
.orders_container .title{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr 1fr 1fr;
    padding: 1vh 2vh;
    color: gray;
}
.orders_container .order_content{
    display: grid;
    grid-template-columns:1.5fr 1.5fr 2fr 1fr 1fr ;
    align-items: center;
    padding: 1vh 2vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &:hover{
        background-color: #f1f1f1;
        transform: scale(1.001);
    }

   

}
.orderStatus{
    display: inline-block;
   max-width: 250px;
    font-size: 2.5vh;
    color: tomato;
    font-weight: 600;
    border-radius: 2vh;
}
.statusCompleted{
    width: 9vw;
   color: green;
    border-radius: 2vh;
}
.viewDetails_btn{
    width: 8vw;
    padding: 1.5vh 2vh;
    /* background-color: tomato; */
    background-color: gray;
    color: white;
    cursor: pointer;
    border-radius: 2vh;
    border: none;
        transition: all 0.5s linear;

    &:hover{
        background-color: black
    }
}
.no_orders{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: red;
    font-style: italic;
}



@media (max-width:600px) {

    .main_container{    
        margin: 13vh 2vh;
        padding: 5vh 5vh;
        border-radius: 5vh;
        color: black;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    .main_container h1{
        font-size: 5vh;
    }
    .orders_container .title{
       /* display: none; */
    }

    .orders_container .order_content{
        display: flex;
        flex-direction: column;
        gap: 0.5vh 0vh;
      
    }
    .orderStatus{
        width: 25vw;
        padding: 0vh 2vw;
        background-color: tomato;
        color: white;
        border-radius: 2vh;
        font-size: 2.5vh;
    }
    .statusCompleted{
        width: 25vw;
        padding: 0vh 2vw;
        background-color: #32CD32;
        color: white;
        border-radius: 2vh;
        font-size: 2.5vh;
    }



    .viewDetails_btn{
        width: 25vw;
        padding: 0.5vh 1vh;
        /* background-color: tomato; */
        background-color: gray;
        color: white;
        cursor: pointer;
        border-radius: 2vh;
        border: none;
        font-size: 2vh;
    
        &:hover{
            background-color: rgb(252, 76, 45);
        }
    }
}

