.addItems_main_container{
    /* color: #6d6d6d; */
    color: #36454F;
    border-radius: 7vh 0vh 0vh 7vh;
    width: 90%;
    margin: auto;
    margin-top: 2vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 85vh;
    overflow-y: scroll;

    p {
        font-size: 2.5vh;
        font-weight: 600;
    }
}
.addItems_form{
    margin: 5vh 0 0 8vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.add_image_container img{
   width: 4vw;
   height: 10h;
   cursor: pointer;
   border-radius: 30%;
}
.add_product_name input{
    padding: 0.8vh 0.8vw;
    border-radius: 1vh;
    font-size: 2.5vh;
    width: 20vw;
    outline: none;
}
.product_description textarea{
    width: 20vw;
    padding: 0.8vh 0.8vw;
    border-radius: 1vh;
    font-size: 2.5vh;
    outline: none;
}
.add_category_price{
    width: 25vw;
    display: flex;
    justify-content: space-between;
}
.add_category_price select,.add_category_price input{
    width: 10vw;
    padding: 1vh 1vw;
    border-radius: 1vh;

}


.add_btn{
    background-color: black;
    color: white;
    width: 10vw;
    padding: 2vh 1.7vw;
    border: none;
    border-radius: 1vh;
    font-size: 2.5vh;
    margin-bottom: 3vh;
cursor: pointer;
    font-weight: 600;

    &:hover{
        background-color: grey;
        color: #e2e2e2;
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.section{
    display: flex;
    gap: 3vw;
    
}
.box{
    padding: 3vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: rgba(128, 128, 128, 0.114);
}