
.addItems_main_container{
    /* color: #6d6d6d; */
    color: #36454F;
    height: 80vh;
    border-radius: 7vh;
    width: 90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    p {
        font-size: 2.5vh;
        font-weight: 600;
    }
}
.addItems_form{
    margin: 5vh 0 0 8vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.add_image_container img{
   width: 5vw;
   height: 10h;
   cursor: pointer;
   border-radius: 30%;
}
.add_product_name input{
    padding: 0.8vh 0.8vw;
    border-radius: 1vh;
    font-size: 2.5vh;
    width: 20vw;
    outline: none;
}
.product_description textarea{
    width: 20vw;
    padding: 0.8vh 0.8vw;
    border-radius: 1vh;
    font-size: 2.5vh;
    outline: none;
}
.add_category_price{
    width: 25vw;
    display: flex;
    justify-content: space-between;
}
.add_category_price select,.add_category_price input{
    width: 10vw;
    padding: 0.8vh 0.8vw;
}


.add_btn{
    background-color: black;
    color: white;
    width: 10vw;
    padding: 2vh 1.7vw;
    border: none;
    border-radius: 1vh;
    font-size: 2.5vh;
cursor: pointer;
    font-weight: 600;

    &:hover{
        background-color: grey;
        color: #e2e2e2;
    }
}