
.navbar{
    padding: 0.5vh 5vw;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: #FAFAFA;
    position: fixed;
    top: 0;
    z-index: 1;

}
.navbar img{
    width: 6vw; 
    height: 12vh;

}
.navbar_menu{
    display: flex;
    list-style: none;
    gap: 4vw;
    color: black;

    & li{
        font-size: 3vh;
        font-weight: 600;
        cursor: pointer;
    }
}
.navbar_right{
    position: relative;
    display: flex;
    align-items: center;
    gap: 4vw;
}

.cart_icon_div{
    position: relative;
    width: 4vw;

    & .cart_icon{
        font-size: 4.5vh;
    cursor: pointer;
    }
}
.cartItemsCount{
    position: absolute;
    min-width: 1.5vw;
    min-height: 1.3vh;
    top: 0vh;
    color: red;
    right: 0;

}
.user_icon_con{
    position: relative;

}
.user_icon{
   
    font-size: 4vh;
    cursor: pointer;

}
.user_menu {
    position: absolute;
    top: 120%; /* Places the menu directly below the user icon */
    left: 50%;
    transform: translateX(-60%);
    padding: 1vh 2vw;
   width: 13vw;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
.user_menu_p{
    padding: 2vh 2vw;
    transition: 0.2s linear;
    cursor: pointer;
    border-radius: 2vh;
    font-weight: 600;
    &:hover{
            color: #e2e2e2;
            background-color: black;
            
        }
}

.notification_icon{
    position: relative;
    font-size: 5vh;
    cursor: pointer;

}
.navbar_login_btn{
    background: transparent;
   border: 2px solid black;
    font-size: 2.5vh;
    padding: 1vh 2vw;
    border-radius: 5vh;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        background-color: black;
        color: white;
    }
}
.active{
    color: red;
    padding-bottom: 0.5vh;
    border-bottom: 2px solid red;
    border-radius: 0.9vh;
}

