li{
    list-style: none;
}
.completed_order_con{
    margin: 12vh 3vw;
    height: 30vh;

    & h2{
        padding: 0vh 1vw;
    }
}
.inner_container{
    overflow-y: scroll;
    overflow-x: hidden;
    height:25vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.topic{
    /* background-color: #e0e0e0; */
    background-color: #004953ee;
    color: #f1f1f1;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr ;
    padding: 2vh 3vw;
    border-radius: 2vh 2vh 0 0;
    margin-top: 2vh;
    & p{
        font-weight: 600;
    }
}
.order_list{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.order_card{
    
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr ;
    align-items: center;
    padding: 2vh 3vw;
    &:hover{
        background-color: #f1f1f1;
        transform: scale(1.002);
    }

    & h3{
        font-size: 2vh;
        font-weight: 500;
    }
}

    .orderStatus{
        padding: 1.5vh 2vw;
        border: 2px solid gray;
        border-radius: 10px;
    }


    .no_orders{
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        min-height: 100px;
    }
    


