.main_container{
    margin-top: 15vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_container{
    border: 2px solid red;
}
.go_home_btn{
    padding: 3vh 3vw;
    background-color: tomato;
    border-radius: 5vh;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 3vh;


    &:hover{
        background-color: rgb(219, 39, 7);
        color: #fff;
        
    }
}