.completed_con{
    width: 20vw;
    height: 14vh;
    background-color: #cff3af;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:  4vw 1vw;
    border-radius: 2vh;
}

.value{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    & p{
        font-size: 3vh;
        font-weight: 700;
    }
}
@media (max-width:600px) {
    .completed_con{
        width: 100%;
            gap: 4vh;
    }
    
}