.food_display_container{

    width: 90%;
    margin: auto;
    margin-top: 13vh;
    background-color:#FFFEFE;
}

.food_display_container h1{
    color:rgb(70, 63, 63);
    font-weight: 600;
}

/* .food_display_list{
    border: 2px solid red;
    margin-top: 3vh;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    gap: 3vw;
    row-gap: 5vh;
} */

.food_display_list{
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
   gap: 8vh 4vw ;
   
}
@media (max-width:600px) {
    .food_display_container{
        width: 95%;
        margin-top: 7vh;
    }
    .food_display_container h1{
        font-size: 3vh;
      font-weight: 500;
      text-align: center;
    }
}

@media (max-width:600px) {
    .food_display_container{
    }
    .food_display_list{
        display: flex;
        flex-direction: column;
    }
}