.main_container{
    position: relative;
    height: 88vh;
    max-width: 100%;
    margin-top: 12vh;
    animation: searchBox 0.5s ease-in 0s ;
}
.sliding_img_container{

    max-width: 100%;
    height: 100%;
    background-size:contain;
   
}
.slide_img{
    width: 100%;
    height: 100%;
}
.left_white_btn{
    color: white;
    position: absolute;
    font-size: 10vh;
    bottom: 50%;;
    left: 0;
    cursor: pointer;

}
.left_btn{
    position: absolute;
    font-size: 10vh;
    bottom: 50%;;
    left: 0;
    cursor: pointer;

}
.right_white_btn{
    position: absolute;
    font-size: 10vh;
    color: white;
    bottom: 50%;
    right: 0;
    cursor: pointer;
}
.right_btn{
    position: absolute;
    font-size: 10vh;
    bottom: 50%;
    right: 0;
    cursor: pointer;

}

/* search Bar  */
.search_bar{
    position: absolute;
    display: flex;
    top: 45%;
    left: 30%;
    padding: 2vh 3vw;
    animation: searchBox 0.5s ease-in 0s ;
  

    & input{
        width: 30vw;
        padding: 2vh 2vw;
        font-size: 3vh;
        /* color: #fff; */
        color: black;        
        border: none;
        outline: none;
        border-radius: 5vh 0 0 5vh;
        background: transparent;
        background-color: #cecece;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;        backdrop-filter: blur(100px);

    &::placeholder{
        
        color: black;
    }
    }
    
}
.search_icon_container{
    border: none;
    background-color: tomato;
    text-align: center;
    width: 6vw;
    cursor: pointer;
    border-radius: 0 2vh 2vh 0;


    &:hover{
       background-color: rgb(220, 100, 79);
    }
    & .search_icon{
       font-size: 2vw;
    }
}
@keyframes searchBox {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width:600px) {
    .main_container{
        height: 40vh;
    }
    .left_white_btn{
        font-size: 5vh;
    }
    .left_btn{
        font-size: 5vh;
    }
    .right_white_btn{
        font-size: 5vh;
    }
    .right_btn{
        font-size: 5vh;
    }

    /* search bar  */
    .search_bar{
    top: 32%;
    left: 13%;
    
    & input{
        width: 55vw;
        padding: 1.5vh 2vw;
        font-size: 2vh;
       
    }
    }
    .search_bar input::placeholder{
        content:"hello";
    }
    .search_icon_container{
        width: 13vw;

        & .search_icon{
            font-size: 4vw;
        }
    }
}